/**
 * Version 1.0
 * Created by Adrian Aeschlimann on 18.09.2018
 *
 * Version 1.1
 * Edited by Adrian Aeschlimann on 27.11.2018
 */

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/*https://www.w3schools.com/howto/tryit.asp?filename=tryhow_js_topnav
  The burgermenu has been heavily influenced by the above link
*/

.topnav {
    overflow: hidden;
    background-color: deepskyblue;
}

.topnav a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.active {
    background-color: darkblue;
    color: white;
}

.topnav .icon {
    display: none;
}

#confirmSelection
{
    width: 25%;
}

/* add responsive stuff inside this */
@media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {
        display: none;
    }

    .topnav a.icon {
        float: right;
        display: block;
    }

    .content > form {
        width: 80% !important;
    }

    .content {
        width: 100% !important;
    }

    .bordered {
        padding: 10px 10%;
    }

    #confirmSelection
    {
        width: 50%;
    }
}

@media screen and (max-width: 600px) {
    .topnav.responsive {
        position: relative;
    }

    .topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }

    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }

}

#bigBtn {
    background: red;
    color: white;
    border: 2px solid black;
    box-shadow: 0 10px darkred;
    border-radius: 100%;
    width: 200px;
    height: 200px;
    font-size: 60px;
}

#bigBtn.up{
    box-shadow: 0 10px darkred;
    margin-bottom: 10px;
    margin-top: 0;
}

#bigBtn.down{
    box-shadow: 0 0 darkred;
    margin-bottom: 0;
    margin-top: 10px;
}

button
{
    background-color: lightgreen;
    border: 0 solid black;
    border-radius: 5px;
    width: 100%;
    height: 25px;
    margin: auto;
    display: block;
}

/* div class for content anything that has to be centered */
.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 500px;
    margin: auto;
    margin-top: 10px;
}

.bordered {
    border: 2px solid lightblue;
    border-radius: 10px;
    width: 100%;
    padding: 10px 10% 10px 10%;
}

form > *
{
    width: 100%;
}

/*classes for download and add button in user list*/
.icon {
    font-size: 50px;
    color: black;
    justify-content: space-between;
}

.iconSmall{
    color: black;
}

i {
    color: black;
}